body {
  margin: 0;
}

@media screen and (min-width: 681px) {
  nav {
    display: block;
    margin: 20px 0;
    white-space: nowrap;
  }

  nav > ul {
    display: inline-block;
    vertical-align: middle;
  }

  nav ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
    z-index: 5;
  }

  nav ul ul {
    display: none;
  }

  nav > ul > li {
    float: left;
  }

  nav a,
  nav span {
    margin: 0 10px;
    line-height: 33px;
    display: inline-block;
  }

  nav span.more {
    display: none;
  }

  .no-touch nav > ul > li.hi-intent > ul,
  .touch nav > ul > li.active > ul {
    display: block;
    position: absolute;
  }

  .no-touch nav > ul > li > ul > li.hi-intent > ul,
  .touch nav > ul > li > ul > li.active > ul {
    display: block;
    position: absolute;
    left: 100%;
    margin-top: -33px;
  }

  .touch nav ul ul ul li.active > ul,
  .no-touch nav ul ul ul li.active > ul {
    position: relative;
    display: block;
    left: 0;
    margin-top: 0;
  }

  .no-touch nav ul ul ul span.more {
    display: inline-block;
  }

  .no-touch nav ul ul ul li.inactive > span.more:after {
    content: "+";
  }

  .no-touch nav ul ul ul li.active > span.more:after {
    content: "-";
  }

  nav ul ul {
    background: #fff;
  }

  nav span.more {
    background: yellow;
  }

  .touch nav li.inactive > span.more:after {
    content: "+";
  }

  .touch nav li.active > span.more:after {
    content: "-";
  }
}

@media screen and (max-width: 680px) {
  nav {
    position: absolute;
    width: 100%;
    background: white;
    top: 0;
  }

  nav.inactive > ul {
    display: none;
  }

  nav.active > ul {
    display: block;
  }

  nav ul {
    white-space: nowrap;
    position: relative;
    list-style-type: none;
    padding: 0;
    margin: 0;
    vertical-align: middle;
  }

  nav ul ul {
    display: none;
  }

  nav li.active > ul {
    display: block;
  }

  nav li {
    border-top: 1px solid #fff;
  }

  nav > ul > li:first-child {
    border-top: 0px solid #fff;
  }

  nav a,nav span {
    margin: 0 5px;
    line-height: 40px;
    font-size: 20px;
    text-decoration: none;
  }

  nav ul {
    background: rgba(177,1,77,0.07);
  }

  nav span.more {
    margin: 0;
    background: rgba(0,0,0,0.1);
    position: absolute;
    right: 0;
    width: 40px;
    text-align: center;
  }

  nav li.inactive > span.more:after {
    content: "+";
  }

  nav li.active > span.more:after {
    content: "-";
  }

  nav > span.more {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 77;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }

  nav.inactive > span.more:after {
    content: "M";
  }

  nav.active > span.more:after {
    content: "X";
  }

  nav > ul > li:first-child > span.more {
    margin-right: 41px;
  }
}
